{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Login
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">

			<p>Enregistrement double authentification</p>
			<p>Lancer l'application google auth sur votre smarthphone et enregistrer le
				<a href="{{ path("qr_code_ga",{"id":id}) }}" target="_blank">QR CODE</a><br>

				Après avoir enregistré votre qr code
				<a href="{{ path("app_verif",{"id":id}) }}">Cliquer ici</a>pour vous connecter.
			</p>
		</div>
	</div>
{% endblock %}
