{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Login
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">

			<p>Un mail vient de vous être envoyé, veuiller consulter votre boite mail pour confirmer votre identité</p>

		</div>
	</div>
{% endblock %}
